* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --background-color: #222;
  --border-width: 4px;
}
/* -------- */
.countainer {
  margin: 20px auto;
  max-width: 1000px;
}

.row {
  display: flex;
}

@media (max-width: 991px) {
  .row {
    flex-direction: column;
  }
}

.hr {
  border: 1px solid #eee;
}

.game-info {
  display: flex;
}

.game-info .game-name {
  flex: 1;
}
.game-info .category {
  flex: 1;
  text-align: right;
}
.game-info .category span {
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}

.hangman-draw {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  height: 324px;
}

.hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: var(--border-width) solid var(--background-color);
  position: relative;
  margin: auto;
  left: -60px;
  display: none;
}

.hangman-draw .the-draw .the-stand {
  width: 4px;
  height: 100%;
  background-color: var(--background-color);
  position: absolute;
  left: 50%;
  margin-left: -2px;
  display: none;
}
.hangman-draw .the-draw .the-hang {
  display: none;
}
.hangman-draw .the-draw .the-hang::before {
  content: "";
  width: 100px;
  height: 4px;
  background-color: var(--background-color);
  position: absolute;
  left: 30px;
  top: 15px;
}
.hangman-draw .the-draw .the-hang::after {
  content: "";
  width: 4px;
  height: 30px;
  background-color: var(--background-color);
  position: absolute;
  left: 130px;
  top: 15px;
}

.hangman-draw .the-draw .the-rope {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: var(--border-width) dashed var(--background-color);
  position: absolute;
  top: 45px;
  left: 95px;
  display: none;
}

.hangman-draw .the-man .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: var(--border-width) solid var(--background-color);
  position: absolute;
  left: 105px;
  top: 55px;
  display: none;
}
.hangman-draw .the-man .body {
  width: 4px;
  height: 110px;
  background-color: var(--background-color);
  position: absolute;
  top: 102px;
  left: 130px;
  display: none;
}
.hangman-draw .the-man .hands {
  display: none;
}
.hangman-draw .the-man .hands::before,
.hangman-draw .the-man .hands::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: var(--background-color);
  position: absolute;
  top: 140px;
}
.hangman-draw .the-man .hands::before {
  transform: rotate(30deg);
  left: 85px;
}
.hangman-draw .the-man .hands::after {
  transform: rotate(-30deg);
  left: 130px;
}
.hangman-draw .the-man .legs {
  display: none;
}
.hangman-draw .the-man .legs::before,
.hangman-draw .the-man .legs::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: var(--background-color);
  position: absolute;
  top: 220px;
}
.hangman-draw .the-man .legs::before {
  transform: rotate(-30deg);
  left: 85px;
}
.hangman-draw .the-man .legs::after {
  transform: rotate(30deg);
  left: 130px;
}
.hangman-draw.wrong-1 .the-draw {
  display: block;
}
.hangman-draw.wrong-2 .the-stand {
  display: block;
}
.hangman-draw.wrong-3 .the-hang {
  display: block;
}
.hangman-draw.wrong-4 .the-rope {
  display: block;
}
.hangman-draw.wrong-5 .head {
  display: block;
}
.hangman-draw.wrong-6 .body {
  display: block;
}
.hangman-draw.wrong-7 .hands {
  display: block;
}
.hangman-draw.wrong-8 .legs {
  display: block;
}

.letters {
  flex: 1;
  padding: 15px;
  text-align: center;
}
.letters.finished {
  pointer-events: none;
}
.letters .letter-box {
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: #009688;
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}
.letters .letter-box:hover {
  background-color: #009687e1;
}
.letters .letter-box.clicked {
  background-color: #222;
  opacity: 0.2;
  pointer-events: none;
}

.letters-guess {
  margin: 10px auto;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 104px;
}

.letters-guess span {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdfdfd;
  border-bottom: 3px solid var(--background-color);
  transition: 0.3s;
}

.letters-guess span.with-space {
  background: none;
  border-bottom: none;
  position: relative;
}

.letters-guess span.with-space::before {
  content: "";
  width: 20px;
  height: 4px;
  background-color: var(--background-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup,
.popup-win {
  background-color: #009688;
  padding: 145px 25px;
  width: 480px;
  border: 1px solid #ccc;
  border-radius: 24px;
  text-align: center;
  text-wrap: wrap;
  font-size: 40px;
  color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.layer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #33333380;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  z-index: -50;
  opacity: 0;
}

.layer.show {
  z-index: 10;
  opacity: 1;
}

.layer .bg-h2 {
  text-align: center;
  width: 500px;
  height: 300px;
  border: 2px solid #0075ff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-self: center;
  background-color: #333;
  color: white;
}
h2 {
  margin: 29px 0;
  font-size: 50px;
  text-transform: capitalize;
}
button {
  align-self: end;
  margin: 20px;
  padding: 15px;
  border: none;
  background: #0075ff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}